[submodule "Vulkan3dRenderer/vendor/glm"]
	path = Vulkan3dRenderer/vendor/glm
	url = https://github.com/GlitchyHydra/glm.git
	branch = master

[submodule "Vulkan3dRenderer/vendor/glfw"]
	path = Vulkan3dRenderer/vendor/glfw
	url = https://github.com/GlitchyHydra/glfw.git
	branch = master
[submodule "Vulkan3dRenderer/vendor/stb_image"]
	path = Vulkan3dRenderer/vendor/stb_image
	url = https://github.com/nothings/stb.git
[submodule "Vulkan3dRenderer/vendor/tinyobjloader"]
	path = Vulkan3dRenderer/vendor/tinyobjloader
	url = https://github.com/tinyobjloader/tinyobjloader.git
[submodule "Vulkan3dRenderer/vendor/spdlog"]
	path = Vulkan3dRenderer/vendor/spdlog
	url = https://github.com/gabime/spdlog.git
